<h1>Rock, Paper, Scissors</h1>
<h3>Ready to Play?</h3>
<form action='/results'>
  <div class="form-group">
    <label for="Player1">Player 1: rock, paper, or scissors?</label>
    <input id="Player1" name="Player1" class="form-control" type="text">
    <label for="Player2">Player 2: rock, paper, or scissors?</label>
    <input id="Player2" name="Player2" class="form-control" type="text">
  </div>
  <button type="Go!" class="btn-success">Go!</button>
</form>
